
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar:hover{
    width: 15px;
}

::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: #dddddd;
  border: 1px solid #000000;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}
::-webkit-scrollbar-thumb:active {
  background: #838383;
}
::-webkit-scrollbar-track {
  background: #3e3e3e;
  border: 1px none #ffffff;
  border-radius: 2px;
}
::-webkit-scrollbar-track:hover {
  background: #525252;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
