html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.windowbtn{
    color: white;
    float: right;
    padding-right: 5px;
    text-align: center;
    vertical-align: bottom;
    -webkit-app-region: no-drag;
}
.windowbtn:hover{
    color: grey;
    cursor: pointer;
}
#windowbar{
    position: absolute;
    background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%);
    width: 100%;
    height: 20px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);
    z-index: 1000;
    text-align: center;
    vertical-align: bottom;
    -webkit-app-region: drag;
    padding: 5px;
}
#mynavbar{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: rgba(80,80,80,0.8);
    color:white;
    z-index: 10;
    display: block;
    margin: 0 auto;
    text-align:center;
}
#content{
    position: absolute;
    top: 20px;
    height: calc(100% - 20px);
    width: 100%;
}
.awebview{
    display:flex; 
    width:100%; 
    height:100%;
    position: absolute;
}
#search{
    display: block;
    margin: 0 auto;
    top: 0;
}
.navbutton{
    padding: 5px;
}
.navbutton:hover{
    color:rgb(230,230,230);
    cursor: pointer;
}
.tabs{
    width:100%;
    display: flex;
    flex-wrap:wrap;
}
.overlay{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    position: absolute;
    z-index: 9;
}
.tabPreview{
    border: solid white 1px;
}
.tabPreview:hover{
    cursor: pointer;
}
.tabcontainer{
    padding: 5px;
    height:200px;
}
#newTab:hover{
    color: rgb(220,220,220)
}