html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: ease 0.2s all;
    background-color: rgb(80, 80, 80);
}
.windowbtngroup{
    z-index: 12;
    position: fixed;
    height: 25px;
    display: flex;
    justify-content: flex-end; 
    right: 0;
}
.windowbtn{
    -webkit-app-region: no-drag;
    color: white;
    padding-top: 5px;
    padding-right: 1em;
    text-align: center;
    
    z-index: 11;
    transition: ease 0.2s all;
}
.windowbtn:hover{
    color: grey;
    cursor: pointer;
}
.drag{
    width: 80%;
    float: left;
    height: 100%;
}
.draggable {
    -webkit-app-region: drag;
}
.bar{
    background-color: rgb(80,80,80);
    position: absolute;
    width: 100%;
    height: 25px;
    z-index: 10;
}
#bookmarks {
    top: 25px;
    width: 80%;
    display: flex;
    align-items: center;
}
.bookmark {
    margin-left: 1em;
    padding: 1px 10px 1px 10px;
    font-size: 14px;
    line-height: 16px;
    background-color: rgba(0,0,0,0.3);
    height: 16px;
    -webkit-app-region: no-drag;
}
.bookmark:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
}
.bookmarksDrag {
    flex-basis: 100%;
    flex-shrink: 100;
}
.bookmarkX{
    top:0;
    margin-left: 2px;
}
#bookmarkPopup{ 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #333333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    display: none;
    flex-wrap: wrap;
    min-height: 400px;
    min-width: 500px;
}
#bookmarkPopup button {
    outline: none;
    margin: 0.5em;
    padding: 1em;
    min-height: 3em;
    background-color: black;
    border: solid black 2px;
    width: 6em;
    border-radius: 2px;
    transition: ease 0.2s all;
}
#bookmarkPopup button:hover {
    background-color: transparent;
}
#bookmarkPopup button.ie {
    font-size: 12px;
    padding: 0
}
#bookmarkPopup input {
    padding: 0.5em;
}
#mynavbar{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(80,80,80);
    color:white;
    z-index: 10;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align:center;
}
#content{
    position: absolute;
    top: 50px;
    height: calc(100% - 20px);
    width: 100%;
}
.awebview{
    display:flex; 
    width:100%; 
    height:100%;
    position: absolute;
}
#search{
   
    background-color: rgb(70,70,70);
    color: rgb(230,230,230);
    z-index: 5;
    overflow-x: scroll;
    position: relative;
   
}
#searchMatch{
    pointer-events: none;
    background-color: rgba(70,70,70,1);
    color: rgb(0,200,0);
    z-index: 10;
    padding: 0;
    padding-left: 10px;
    top:-25px;
    overflow-x: hidden;
}
.searchItem{
    width: 75%;
    text-align: left;
    position: absolute;
    height: 30px;
    top: 3px;
    padding-left: 3px;
   
}
.searchfocus{
    border: none;
    box-shadow: 0 0 5px 1px #969696;
    color:white; 
    outline:none;
}
#search:hover{
    cursor: text;
}
.navbutton{
    position: relative;
    padding: 5px;
    
}
.navbutton:hover{
    color:rgb(230,230,230);
    cursor: pointer;
}
.tabs{
    width:100%;
    display: flex;
    flex-wrap:wrap;
}
.overlay{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    position: absolute;
    z-index: 9;
}
.tabPreview{
    border: solid white 1px;
    display: inline-block;
}
.tabPreview:hover{
    cursor: pointer;
}
.tabcontainer{
    padding: 5px;
    width: auto;
    text-align: center;
    position: relative;
}
#newTab:hover{
    color: rgb(220,220,220)
}
.closeTab{
    position: absolute;
    display: block;
    top: 7.5px;
    right: 10px;
    color: white;
    float: right;
}
.closeTab:hover{
    cursor: pointer;
    color: grey;
}
#loadOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    z-index: 11;
}
 ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    }
    ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    }
    ::-webkit-scrollbar-thumb {
    background: #25a40b;
    border: 0px none #ffffff;
    border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #0eab2e;
    }
    ::-webkit-scrollbar-thumb:active {
    background: #91ff66;
    }
    ::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 0px;
    }
    ::-webkit-scrollbar-track:hover {
    background: #666666;
    }
    ::-webkit-scrollbar-track:active {
    background: #333333;
    }
    ::-webkit-scrollbar-corner {
    background: transparent;
    }