
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.windowbtngroup{
    z-index: 11;
    position: fixed;
    width: 100%;
    height: 25px;
    background-color: rgba(0,0,0,0);
}
.windowbtn{
    -webkit-app-region: no-drag;
    color: white;
    padding-top: 2px;
    padding-right: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    float: right;
    z-index: 11;
}
.windowbtn:hover{
    color: grey;
    cursor: pointer;
}
.drag{
    width: 90%;
    float: left;
    height: 100%;
    -webkit-app-region: drag;
}
#windowbar{
    background-color: rgb(80,80,80);
    position: absolute;
    /*background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(81,81,81,1) 100%);*/
    width: 100%;
    height: 25px;
    /*box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.75);*/
    z-index: 10;
    text-align: center;
    vertical-align: bottom;
    
    padding: 5px;
}
#mynavbar{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(80,80,80);
    color:white;
    z-index: 10;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align:center;
}
#content{
    position: absolute;
    top: 20px;
    height: calc(100% - 20px);
    width: 100%;
}
.awebview{
    display:flex; 
    width:100%; 
    height:100%;
    position: absolute;
}
#search{
    width: 75%;
    position: relative;
    height: 30px;
    top: 3px;
    padding-left: 3px;
    background-color: rgb(70,70,70);
    color: rgb(230,230,230);
    text-align: left;
}
.searchfocus{
    border: none;
    box-shadow: 0 0 5px 1px #969696;
    color:white; 
    outline:none;
}
#search:hover{
    cursor: text;
}
.navbutton{
    position: relative;
    padding: 5px;
    
}
.navbutton:hover{
    color:rgb(230,230,230);
    cursor: pointer;
}
.tabs{
    width:100%;
    display: flex;
    flex-wrap:wrap;
}
.overlay{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    position: absolute;
    z-index: 9;
}
.tabPreview{
    border: solid white 1px;
    display: inline-block;
}
.tabPreview:hover{
    cursor: pointer;
}
.tabcontainer{
    padding: 5px;
    width: auto;
    text-align: center;
    position: relative;
}
#newTab:hover{
    color: rgb(220,220,220)
}
.closeTab{
    position: absolute;
    display: block;
    top: 7.5px;
    right: 10px;
    color: white;
    float: right;
}
.closeTab:hover{
    cursor: pointer;
    color: grey;
}
#loadOverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}